@using System.ComponentModel
@using SharpEngine.Shared.Attributes

@typeparam TItem

<div class="table-header">
    <table class="auto-width-table">
        <thead>
            <tr>
                @foreach (var header in _headers)
                {
                    <GridHeader Title="@header.Title" AllowFiltering="@header.AllowFiltering" FilterChanged="@((FilterMode mode) => OnFilterChanged(mode, header.Title))" />
                }
            </tr>
        </thead>
    </table>
</div>

<!-- Height needs to be automatically calculated. -->
<div class="table-content">
    <table class="auto-width-table">
        <tbody>
            @foreach (var item in Items)
            {
                <GridRow TItem="TItem" Item="@item">
                    <ChildContent>
                        @GridRowTemplate(item)
                    </ChildContent>
                </GridRow>
            }
        </tbody>
    </table>
</div>

@code {
    /// <summary>
    ///     Gets or sets the items to be rendered onto the grid.
    /// </summary>
    [Parameter]
    public List<TItem> Items { get; set; } = [];

    /// <summary>
    ///     Gets or sets a template by which each row should be rendered.
    /// </summary>
    [Parameter]
    public RenderFragment<TItem> GridRowTemplate { get; set; }

    [Parameter]
    public EventCallback<Dictionary<string, FilterMode>> FilterChanged { get; set; }

    private List<GridHeaderInfo> _headers { get; set; } = [];
    private Dictionary<string, FilterMode> _filterModes { get; set; } = new();

    protected override Task OnInitializedAsync()
    {
        GetHeaders();
        return base.OnInitializedAsync();
    }

    private void GetHeaders()
    {
        var props = typeof(TItem).GetProperties();
        var headers = props.Select(prop =>
        {
            var displayNameAttribute = (DisplayNameAttribute?)prop.GetCustomAttributes(typeof(DisplayNameAttribute), false).FirstOrDefault();
            var filterAttribute = (FilterAttribute?)prop.GetCustomAttributes(typeof(FilterAttribute), false).FirstOrDefault();

            return new GridHeaderInfo(displayNameAttribute?.DisplayName ?? prop.Name, filterAttribute?.IsFilterable ?? true);
        });

        _headers = headers.ToList();
    }

    private async Task OnFilterChanged(FilterMode filterMode, string header)
    {
        if (_filterModes.TryGetValue(header, out var mode))
            _filterModes[header] = filterMode;
        else
            _filterModes.Add(header, filterMode);

        await FilterChanged.InvokeAsync(_filterModes);
    }
}