@page "/"

@using Launcher.UI.Components
@using Launcher.UI.Components.Dialogs
@using System.Diagnostics

<Notification />
<ConfirmDeleteDialog @bind-Visible="@_showConfirmDelete" OnDeleteProjectConfirmed="@OnDeleteProjectConfirm" />
<CreateProjectDialog @bind-Visible="@_showCreateProjectDialog" OnProjectCreated="@ProjectCreated" />

<div class="header">
    <h1>Projects</h1>

    <div>
        @* TODO: Make this button work
        <button type="button" class="btn btn-secondary">Open existing</button>
        *@
        <button type="button" class="btn btn-primary" @onclick="OnCreateProjectClicked">Create project</button>
    </div>
</div>

<div class="content">
    <Grid TItem="Project" Items="@Projects">
        <Row>
            <td>@context.Name</td>
            <td>@context.LastModified</td>
            <td>
                <button type="button" class="btn btn-primary" @onclick="@(() => _editorService.OpenInEditor(context))">Open in editor</button>
                <button type="button" class="btn btn-danger" @onclick="@(() => OnDeleteProjectClicked(context))">Delete</button>
            </td>
        </Row>
    </Grid>
</div>