@page "/"

@using System.Diagnostics
@using Launcher.UI.Components
@using Launcher.UI.Components.Dialogs
@using Launcher.UI.Components.Grid
@using SharpEngine.Shared.Dto

<ConfirmDeleteDialog @bind-Visible="@_showConfirmDelete" OnDeleteProjectConfirmed="@OnDeleteProjectConfirm" />
<CreateProjectDialog @bind-Visible="@_showCreateProjectDialog" OnProjectCreated="@ProjectCreated" />

<div class="header">
    <h1>Projects</h1>

    <div>
        <button type="button" class="btn btn-secondary" @onclick="OpenExistingFileAsync">Open existing</button>
        <button type="button" class="btn btn-primary" @onclick="OnCreateProjectClicked">Create project</button>
    </div>
</div>

<!-- TOOD: Skeleton loading -->
<div class="content">
    <Searchbox ValueChanged="SearchProjects" />
    <Grid TItem="Project" Items="@_filteredProjects" FilterChanged="OnFiltersChanged">
        <GridRowTemplate>
            <td>
                <p>@context.Name</p>
                <p>@context.Path</p>
            </td>
            <td>@context.LastModified</td>
            <td>
                <button type="button" class="btn btn-primary" @onclick="@(() => _editorService.OpenInEditor(context))">Open in editor</button>
                <button type="button" class="btn btn-light" @onclick="@(() => _contextMenu!.Open(new(), context))">...</button>
            </td>
        </GridRowTemplate>
    </Grid>
</div>

<ContextMenu @ref="@_contextMenu">
    @{
        var project = (Project)context;

        <button type="button" class="btn btn-light" @onclick="@(() => OpenInExplorer(project.Path!))">Open in Explorer</button>
        <button type="button" class="btn btn-light" @onclick="@(() => RemoveFromList(project))">Remove from list</button>
        <button type="button" class="btn btn-danger" @onclick="@(() => OnDeleteProjectClicked(project))">Delete</button>
    }
</ContextMenu>

@code {
    private ContextMenu? _contextMenu;
}